GATEWAY_SERVICE_PORT=8180
MEMBER_SERVICE_PORT=8181
MEMBER_SERVICE_GRPC_PORT=9181
APP_ENV=dev
# CONFIG_FILE=configs/app.dev.json

MEMBER_SERVICE_URL=http://127.0.0.1:8181
MEMBER_SERVICE_GRPC_ADDR=127.0.0.1:9181
GATEWAY_USE_MEMBER_GRPC=false

ORDER_SERVICE_PORT=8182
ORDER_SERVICE_URL=http://127.0.0.1:8182

MYSQL_DSN=root:Root123456@tcp(127.0.0.1:3306)/go_template_db?charset=utf8mb4&parseTime=true&loc=Local
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=redis1234
REDIS_DB=0

MQ_PROVIDER=rabbitmq
MQ_AUTO_DECLARE=true
RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672/
ROCKETMQ_NAMESRV=127.0.0.1:9876

CONSUL_ENABLED=false
CONSUL_ADDRESS=127.0.0.1:8500
CONSUL_DATACENTER=dc1
SERVICE_HOST=127.0.0.1

CORS_ALLOW_ORIGIN=http://localhost:5173
